nav
  +clearfix
  padding: 1em 1em 0 1em
  background: $clrs-black

  .logo
    display: inline
    padding: 1em

    a
      font-size: 1.3em
      color: blue
      letter-spacing: 1.2px
      text-decoration: none
      &:hover
        color: $blue

  // Right side navigation
  ul
    float: right
    padding-top: .3em
    list-style: none

  li
    display: inline
    margin: 0 .5em 0 .5em

    a
      color: blue
      text-decoration: none
      &:hover
        color: $blue
