//
// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$clrs-aqua:  #7FDBFF
$clrs-blue:  #477dca
$clrs-navy:  #001F3F
$clrs-teal:  #39CCCC
$clrs-green: #2ECC40
$clrs-olive: #3D9970
$clrs-lime:  #01FF70

// Warm

$clrs-yellow:  #FFDC00
$clrs-orange:  #FF851B
$clrs-red:     #FF4136
$clrs-fuchsia: #F012BE
$clrs-purple:  #B10DC9
$clrs-maroon:  #85144B

// Gray Scale

$clrs-white:  #fff
$clrs-silver: #ddd
$clrs-gray:   #aaa
$clrs-black:  #111
